<!DOCTYPE html>
<html>
<head>
  <title>Display Cookies</title>
</head>
<body>

  <h1>Cookies Data</h1>

  Name: <%= name %>

  <br><br>

  Age: <%= age %>

  <br><br>

  <a href="/">Go Back to Form</a>

</body>
</html>
